<h1>ADMIN lOGIN</h1>
<form action="/admin/login" method="POST">
    <input type="text" name="email" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>Login</button>
</form>

<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>