
<h1>ADMIN REGISTER PAGE</h1>
<form action="/admin/signup" method="POST">
    <input type="text" name="email" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href="/register">Sign_Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>