
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Admin(Vendor Verification)</title>
  </head>
  <body class="p-3 mb-2 bg-light text-dark">
  	<!----------------------------NAVBAR------------------------------------->
  	<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="Admin(Vendor Verification).html">Vendor-Verification</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="Brand.html">Add Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Category</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!----------------------Vendor----------------list------------------------->
<div class="container text-center" style="margin-top: 2%">
	<h3 class="text-secondary"> Vendor-List</h3>
</div>
<!--------------------------------------Table------------------------------>
<table class="table table-hover table-responsive-md" style="margin-top: 2%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email-address</th>
      <th scope="col">Store Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Accept</th>
      <th scope="col">Decline</th>
    </tr>
  </thead>
  <tbody>
    <% vendor.forEach(function(user){ %>
      <form action="/vendor" method="GET">
    <tr>
      <th scope="row">1</th>
      <td><%=user.name%></td>
      <td><%=user.email%></td>
      <td><%=user.storename%></td>
      <td><%=user.phoneno%></td>
        
      <td><a class="btn btn-primary" href="Admin(Vendor Verification).html" role="button" type="submit">Accept</a></td>
      <td><a class="btn btn-danger" href="Admin(Vendor Verification).html" role="button" type="submit">Decline</a></td>
    
    </tr>
  </form>
    <% }); %>
  </tbody>
</table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>



