<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Vendor-Details</title>
  </head>
  <body class="p-3 mb-2 bg-light text-dark">
      <!----------------------------NAVBAR------------------------------------->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/vendor/vendor_details?secret_token=<%=secret_token%>">Account Details</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/vendor/vendor_products?secret_token=<%=secret_token%>">Add Products</a>
      </li>
    </ul>
  </div>
</nav>
      <!--------------------FORM--------------------->
      <form method='post' action='' enctype="multipart/form-data">
        <input type="file" id='file' name="file" multiple><br>
        <input type="button" id="submit" token="<%=secret_token%>" value='Upload'>
     </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function(){

$('#submit').click(function(e){
  e.preventDefault()
  var secret_token = $("#submit").attr("token")
    // e.preventDefault()
    // var file = $('#file').
   var form_data = new FormData();
    
  //  form_data.append("file", document.getElementById('file').file);
  //  var formData = new FormData($(this)[0])
  //  var totalfiles = document.getElementById('files').files.length;
  //  for (var index = 0; index < totalfiles; index++) {

  //  }
  //  form_data.append("secret_token" , token )
  var files = $('#file')[0].files[0];
  form_data.append('file',files);
   form_data.append("secret_token",secret_token)
   console.log({form_data})
   $.ajax({
            type: "POST",
            url: '/vendor/vendor_details',
            contentType: false,
            processData: false,
            data: (form_data),
            headers: {
              
      'Authorization': 'Bearer ' + secret_token 
   },
            success: function (data) {
              console.log(data)
            }
          }).done(function (data) {
            console.log("OK");

          }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log({jqXHR});
            console.log({textStatus});
            console.log({errorThrown});
          });
        });

});



  </script>
  </body>
</html>